h1{
  font-size: 120pt;
  text-align: center;
  margin-top: 250px;
  color: white;
}
li{
  text-align: center;
  list-style: none;
  float: left;
  width: 25%;
  color: white;
  font-size: 28pt;
  margin-top: 80px;
  
}

body{
  background-image: url(../img/sirokuma.jpg);
  font-family: "Nico Moji";
  background-size: contain;
  background-repeat: repeat;
}
a{
  color: white;
  text-decoration: none;

}
a:hover{
  color: #FFC20E;
}
/*-----------------スマホ対応-------------------------*/
@media(max-width:700px){
  h1{
    font-size: 60pt;
    margin-top: 100px;
  }
  li{
    float: none;
    font-size: 18pt;
    width: 100%;
    margin-top: 60px;
  }
  
}
